@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.body {
    width: 100vw;
}

#root {
  width: 100%;
}

.boxMain {
    width: 100%;
    box-sizing: content-box;
}