@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 100vw;
  font-family: Inter;
}

#root {
  width: 100%;
  
}

.boxMain {
  width: 100%;
  box-sizing: content-box;
}

.sectionProductsIcon {
  position: absolute;
  width: 15px;
  margin-top: 1vw;
  margin-left: 1vw;
}

details[open] summary {
  font-size: 4vw;
}

#flex {
  display: flex;
}

#none {
  display: none;
}